In [3]:
import pandas as pd
import numpy as np

In [2]:
#Read in data into df from json
df = pd.read_json('../../src/response_iati.json')
df.iloc[385:388]

,iati_identifier,title_narrative,activity_date_type,activity_status_code,default_aid_type_code,description_narrative,last_updated_datetime,activity_date_iso_date,recipient_country_code,reporting_org_narrative,...,policy_marker_code,policy_marker_narrative,location_name_narrative,sector_vocabulary,document_link_url,tag_code,tag_narrative,tag_vocabulary,activity_date_narrative,recipient_region_code
385,GB-CHC-202918-LEBA83,[Increased access to water and dignified lives...,"[2, 4]",3,NaN,[Oxfam will equip refugees with key informatio...,2021-09-08T13:09:12Z,"[2019-01-01T00:00:00Z, 2020-02-29T00:00:00Z]",[LB],[Oxfam GB],...,NaN,NaN,NaN,"[99, 99, 99, 99]",NaN,NaN,NaN,NaN,"[start-actual, end-actual]",NaN
386,GB-CHC-202918-RVNA86,[Pro-poor Policy Monitoring and Analysis in Vi...,"[2, 4]",3,NaN,[This is a revision of the ongoing post -WTO p...,2015-09-22T12:12:14Z,"[2010-07-01T00:00:00Z, 2014-06-30T00:00:00Z]",[VN],[Oxfam GB],...,NaN,NaN,NaN,"[99, 99, 99]",NaN,NaN,NaN,NaN,"[start-actual, end-actual]",NaN
387,GB-CHC-202918-LEBA84,[Addressing extreme vulnerabilities among refu...,"[2, 3]",2,NaN,[- Provide 4 months temporary cash assistance ...,2022-06-28T14:45:00Z,"[2018-12-01T00:00:00Z, 2023-03-31T00:00:00Z]",[LB],[Oxfam GB],...,NaN,NaN,NaN,[99],NaN,NaN,NaN,NaN,"[start-actual, end-planned]",NaN

In [11]:
nan_count = df[df['title_narrative'].isna()]
nan_count.head()

,iati_identifier,title_narrative,activity_date_type,activity_status_code,default_aid_type_code,description_narrative,last_updated_datetime,activity_date_iso_date,recipient_country_code,reporting_org_narrative,...,policy_marker_code,policy_marker_narrative,location_name_narrative,sector_vocabulary,document_link_url,tag_code,tag_narrative,tag_vocabulary,activity_date_narrative,recipient_region_code
22542,CH-4-2012006635,NaN,"[1, 2, 3, 4]",2,[C01],[The remote Alai and Chon Alai disctricts of m...,2019-03-11T00:00:00Z,"[2018-06-01T00:00:00Z, 2018-06-01T00:00:00Z, 2...",[KG],[Swiss Agency for Development and Cooperation ...,...,"[6, 8, 7, 2, 5, 9]",[Aid Targeting the Objectives of the Framework...,NaN,"[1, 1, 1]",NaN,NaN,NaN,NaN,NaN,NaN
22543,CH-4-2012006636,NaN,"[1, 2, 3, 4]",2,[C01],[The remote Alai and Chon Alai disctricts of m...,2019-03-11T00:00:00Z,"[2018-06-01T00:00:00Z, 2018-06-01T00:00:00Z, 2...",[KG],[Swiss Agency for Development and Cooperation ...,...,"[6, 8, 7, 2, 5, 9]",[Aid Targeting the Objectives of the Framework...,NaN,"[1, 1]",NaN,NaN,NaN,NaN,NaN,NaN
82303,NL-KVK-41150939-Europe-P2210,NaN,"[1, 3]",2,[C01],NaN,2022-06-29T10:42:58.507Z,"[2020-01-01T00:00:00Z, 2020-06-30T00:00:00Z]",NaN,[Solidaridad Europa],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85067,XM-OCHA-CERF-21-UF-WHO-019,NaN,"[2, 4]",4,[C01],[The main objective of this WHO project is to ...,2022-01-18T00:00:00Z,"[2021-08-27T00:00:00Z, 2022-08-26T00:00:00Z]",[TD],[UNOCHA - Central Emergency Response Fund (CERF)],...,NaN,NaN,NaN,NaN,[https://www.unocha.org/cerf/sites/default/fil...,NaN,NaN,NaN,"[2021-08-27, 2022-08-26]",NaN
89364,CH-4-2003006791,NaN,"[1, 2, 3, 4]",2,[C01],[Environmental protection was for a long time ...,2018-12-13T00:00:00Z,"[2010-01-01T00:00:00Z, 2010-01-01T00:00:00Z, 2...",[MK],[Swiss Agency for Development and Cooperation ...,...,"[6, 8, 7, 2, 5, 9]",[Aid Targeting the Objectives of the Framework...,NaN,"[1, 1, 1]",NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# create new empty df to fill with transformed data

trans_df = pd.DataFrame()

## **Feature Engineering & Transformation**

### IATI ID

In [15]:
trans_df["iati_id"] = df["iati_identifier"].values

trans_df.head(2)

                iati_id
0  NL-KVK-32092131-2062
1  NL-KVK-32092131-2063

### Title

In [64]:
################
# Add en title #
################

trans_df["title_en"] = "NaN"

for index, row in df.iterrows():
    lang_list = row['title_narrative_xml_lang']
    title_row = row['title_narrative']

    # nan in pandas is type float
    # check if nan and if yes take first entry in lang
    if isinstance(lang_list, float):
        if isinstance(title_row, float):
            trans_df["title_en"][index] = "NaN"
        else:
            trans_df["title_en"][index] = title_row[0]
    else:
        for j in range(0, len(lang_list)):
            if "en" or "EN" in lang_list:
                if lang_list[j].lower() == "en":
                    title = title_row[j]
                    trans_df["title_en"][index] = title
            else:
                trans_df["title_en"][index] = "error1"
        
trans_df.head(2)

nan
nan
nan
nan
nan
Errors excepted: Probably no title for 0 sample(s)!
count     99000
unique    59102
top         NaN
freq       8816
Name: title_en, dtype: object

                iati_id                       title_en title_other
0  NL-KVK-32092131-2062  UG-2062 Covid response Uganda         NaN
1  NL-KVK-32092131-2063   GH-2063 Covid response Ghana         NaN

In [67]:
###################
# Add other title #
###################


trans_df["title_other"] = "NaN"

for index, row in df.iterrows():
    lang_list = row['title_narrative_xml_lang']

    # every title which is has no lang attribute is cassified as english and therefore not in other
    if isinstance(lang_list, float):
        trans_df["title_other"][index] = "NaN"
    else:
        for j in range(0, len(lang_list)):
            if lang_list[j].lower() != "en":
                title = row['title_narrative'][j]
                if trans_df["title_other"][index] == "NaN":
                    trans_df["title_other"][index] = title
                else:
                    trans_df["title_other"][index] = f"{trans_df['title_other'][index]}, {title}"

trans_df.head(200)

                iati_id                       title_en title_other
0  NL-KVK-32092131-2062  UG-2062 Covid response Uganda         NaN
1  NL-KVK-32092131-2063   GH-2063 Covid response Ghana         NaN

### Organization

In [10]:
trans_df['organization'] = df['reporting_org_narrative'].apply(lambda x: x[0])

print(trans_df.organization.value_counts())
trans_df.head(2)

Australian Aid                                        13927
Swiss Agency for Development and Cooperation (SDC)    13098
Ministry for Foreign Affairs of Finland               11831
AidData                                                7818
DFAT / Irish Aid                                       4558
                                                      ...
Orbis Africa                                              1
VisionFund International                                  1
Ajuda de Desenvolvimento de Povo para Povo                1
West Africa Network for Peacebuilding                     1
AUXFIN International B.V.                                 1
Name: organization, Length: 1002, dtype: int64

,iati_id,title_en,title_other,organization
0,NL-KVK-32092131-2062,UG-2062 Covid response Uganda,NaN,Edukans
1,NL-KVK-32092131-2063,GH-2063 Covid response Ghana,NaN,Edukans

### Country

In [ ]:
print(df.recipient_country_code.value_counts())
df['recipient_country_code'].describe()

In [11]:
trans_df["country"] = df["recipient_country_code"]
trans_df.head(5)

,iati_id,title_en,title_other,organization,country
0,NL-KVK-32092131-2062,UG-2062 Covid response Uganda,NaN,Edukans,[UG]
1,NL-KVK-32092131-2063,GH-2063 Covid response Ghana,NaN,Edukans,[GH]
2,NL-KVK-32092131-2064,GH-2064 EDU Active Learning Project,NaN,Edukans,[GH]
3,NL-KVK-32092131-2065,UG-2065 EDU Active Learning Project,NaN,Edukans,[UG]
4,NL-KVK-32092131-2066,ET-2066 EDU Active Learning Project,NaN,Edukans,[ET]

### Region

In [13]:
trans_df['region'] = df['recipient_region_code']
trans_df.head(5)

,iati_id,title_en,title_other,organization,country,region_code,region
0,NL-KVK-32092131-2062,UG-2062 Covid response Uganda,NaN,Edukans,[UG],NaN,NaN
1,NL-KVK-32092131-2063,GH-2063 Covid response Ghana,NaN,Edukans,[GH],NaN,NaN
2,NL-KVK-32092131-2064,GH-2064 EDU Active Learning Project,NaN,Edukans,[GH],NaN,NaN
3,NL-KVK-32092131-2065,UG-2065 EDU Active Learning Project,NaN,Edukans,[UG],NaN,NaN
4,NL-KVK-32092131-2066,ET-2066 EDU Active Learning Project,NaN,Edukans,[ET],NaN,NaN

### Location

In [14]:
trans_df['location'] = df['location_name_narrative']
trans_df.head(5)

,iati_id,title_en,title_other,organization,country,region_code,region,location
0,NL-KVK-32092131-2062,UG-2062 Covid response Uganda,NaN,Edukans,[UG],NaN,NaN,NaN
1,NL-KVK-32092131-2063,GH-2063 Covid response Ghana,NaN,Edukans,[GH],NaN,NaN,NaN
2,NL-KVK-32092131-2064,GH-2064 EDU Active Learning Project,NaN,Edukans,[GH],NaN,NaN,NaN
3,NL-KVK-32092131-2065,UG-2065 EDU Active Learning Project,NaN,Edukans,[UG],NaN,NaN,NaN
4,NL-KVK-32092131-2066,ET-2066 EDU Active Learning Project,NaN,Edukans,[ET],NaN,NaN,NaN

### Descriptions