# **Compromise Merged Orgas File**

- Git max. file size = 100gb 
- Therefore the big table is devided in multiple smaller ones

In [1]:
import pandas as pd

## **Load Merged Orgas DF**

In [2]:
df = pd.read_csv("..\..\..\src\merged_orgas.csv")
df.head(1)

,iati_id,iati_orga_id,orga_abbreviation,orga_full_name,client,title_en,title_other,title_main,organization,country_code,...,actual_end,last_update,crs_5_code,crs_5_name,crs_3_code,crs_3_name,docs,title_and_description,sgd_pred_code,sgd_pred_str
0,DE-1-201401124-0,DE-1,bmz,Bundesministerium für wirtschaftliche Zusammen...,BMZ,Kenia Protected Relief and Recovery Programme ...,Kenia Protected Relief and Recovery Programme ...,Kenia Protected Relief and Recovery Programme ...,Bundesministerium für wirtschaftliche Zusammen...,['KE'],...,2019-02-15T00:00:00Z,2024-03-06T00:00:00Z,52010;,Food assistance;,520;,Development Food Assistance;,"['https://www.bmz.de/de/laender/kenia', 'https...",Kenia Protected Relief and Recovery Programme ...,2,"1 2. End hunger, achieve food security and ..."

In [3]:
df.columns

Index(['iati_id', 'iati_orga_id', 'orga_abbreviation', 'orga_full_name',
       'client', 'title_en', 'title_other', 'title_main', 'organization',
       'country_code', 'country', 'region', 'location', 'description_en',
       'description_other', 'description_main', 'status', 'planned_start',
       'actual_start', 'planned_end', 'actual_end', 'last_update',
       'crs_5_code', 'crs_5_name', 'crs_3_code', 'crs_3_name', 'docs',
       'title_and_description', 'sgd_pred_code', 'sgd_pred_str'],
      dtype='object')

## **Create Project Orgas DF**

In [7]:
orgas_df = df[["iati_id", "iati_orga_id", "orga_abbreviation", "client","orga_full_name"]]
orgas_df.head(1)

,iati_id,iati_orga_id,orga_abbreviation,client,orga_full_name
0,DE-1-201420207,DE-1,giz,BMZ,Deutsche Gesellschaft für Internationale Zusam...

In [8]:
orgas_df.to_csv("../../../app/src/projects/project_orgas.csv", index=False)

## **Create Project Texts DF**

In [4]:
texts_df = df[["iati_id", "title_main", "description_main"]]
texts_df.head(1)

,iati_id,title_main,description_main
0,DE-1-201420207,Environmental and climate governance,"Public, private and civil actors implement ele..."

In [6]:
texts_df.to_csv("../../../app/src/projects/project_texts.csv", index=False)

## **Create Project Status DF**

In [9]:
status_df = df[["iati_id", "status", "planned_start", "actual_start","planned_end", "actual_end"]]
status_df.head(1)

,iati_id,status,planned_start,actual_start,planned_end,actual_end
0,DE-1-201420207,Finalisation,2019-07-01T00:00:00Z,2019-07-01T00:00:00Z,2022-06-30T00:00:00Z,2022-06-30T00:00:00Z

In [10]:
status_df.to_csv("../../../app/src/projects/project_status.csv", index=False)

## **Create Project Region DF**

In [4]:
region_df = df[["iati_id", "country", "region", "location"]]
region_df.head(1)

            iati_id country region     location
0  DE-1-201401124-0    KE;     NaN  ['Nairobi']

In [5]:
region_df.to_csv("../../../app/src/projects/project_region.csv", index=False)

## **Create Project Sector DF**

In [17]:
sector_df = df[["iati_id", "crs_5_code", "crs_5_name", "crs_3_code", "crs_3_name", "sgd_pred_code", "sgd_pred_str"]]
sector_df['sgd_pred_code'] = sector_df['sgd_pred_code'].astype('Int64')


sector_df.head(1)

C:\Users\UserNA6153\AppData\Local\Temp\ipykernel_14656\2665320309.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sector_df['sgd_pred_code'] = sector_df['sgd_pred_code'].astype('Int64')

,iati_id,crs_5_code,crs_5_name,crs_3_code,crs_3_name,sgd_pred_code,sgd_pred_str
0,DE-1-201420207,41010;,Environmental policy and administrative manage...,410;,General Environment Protection;,9,"8 Goal 9. Build resilient infrastructure, p..."

In [18]:
sector_df.to_csv("../../../app/src/projects/project_sector.csv", index=False)